@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('image.jpg');
  background-size: cover;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin: 140px 100px;
  height: 55vh;
  width: 50vw;
  background-color: #808080;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.elements:hover {
  background-color: rebeccapurple;
}

.btn-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operator {
  background: rgb(245, 145, 62);
}

.result {
  color: white;
  text-align: right;
  margin: auto;
  margin-right: 10px;
  font-size: 1.5em;
}

button {
  appearance: none;
  border: 1px solid hsl(0, 0%, 86%);
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: hsl(0, 0%, 78%);
}

.header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  background-color: rgb(0, 80, 126);
  padding: 10px;
  box-shadow: 0 3px 5px rgb(245, 145, 62);
}

.header h1 {
  margin-left: 30px;
  font-size: 3em;
  color: #fff;
}

.navbar-ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  font-size: 1.5em;
  margin-right: 50px;
}

.navbar-ul svg {
  color: #fff;
}

.navbar-ul li {
  border: 1px solid black;
  padding: 0 20px;
  border-top: none;
  border-bottom: none;
}

.navbar-ul li:first-child {
  border-left: none;
}

.navbar-ul li:last-child {
  border-right: none;
}

.home-content {
  padding: 20vh 30px;
  font-size: 1.5em;
}

.home-content h2 {
  margin-bottom: 10vh;
}

.home-content p {
  margin-bottom: 30px;
}

.quote {
  padding: 250px;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.6;
}

.calculator {
  display: flex;
  justify-content: space-between;
}

.calculator h2 {
  margin-top: 140px;
  width: 50vw;
  margin-left: 100px;
  font-size: 2em;
}

.active-link svg {
  color: rgb(245, 145, 62);
  text-decoration: underline;
  cursor: pointer;
}