* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin: 100px auto;
  height: 55vh;
  width: 60vh;
  background-color: grey;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(224, 224, 224);
  border-color: none;
}

.btn-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operator {
  background: rgb(245, 145, 62);
  border-color: grey;
}

.result {
  color: white;
  text-align: right;
  margin: auto;
  margin-right: 10px;
  background-color: rgb(133, 134, 147);
}
